@font-face {
  font-family: "iconfont"; /* Project id 3789054 */
  src: url('iconfont.woff2?t=1669206321537') format('woff2'),
       url('iconfont.woff?t=1669206321537') format('woff'),
       url('iconfont.ttf?t=1669206321537') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiahao1:before {
  content: "\e603";
}

.icon-gantanhao:before {
  content: "\e61d";
}

.icon-fanhui:before {
  content: "\e8a4";
}

