@font-face {
  font-family: "iconfont"; /* Project id 3949827 */
  src: url('iconfont.woff2?t=1678862964263') format('woff2'),
       url('iconfont.woff?t=1678862964263') format('woff'),
       url('iconfont.ttf?t=1678862964263') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-touxiang-:before {
  content: "\e679";
}

.icon-shangxia-copy:before {
  content: "\e60f";
}

