.SignUp_background {
    width: 600px;
    height: 1060px;
    margin: 0 auto;
    background-image: url(./img/Background.png);
    filter: brightness(135%);
}

.header {
    width: 600px;
    height: 108px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_title {
    width: 108px;
    height: 30px;
    text-align: center;
    font-size: 23px;
    color: #cfe8eb;
}

.iconfont {
    font-size: x-large;
    color: #91cad2;
    text-align: center;
}

.icon_back {
    width: 49px;
    height: 49px;
    font-size: 40px;
    color: #91cad2;
}

.icon_help {
    width: 49px;
    height: 49px;
    font-size: 40px;
    color: #91cad2;
}

@font-face {
    font-family: 'iconfont';
    src: url('./font_3789054_k50wb734yie/iconfont.woff2?t=1669206321537') format('woff2'),
        url('./font_3789054_k50wb734yie/iconfont.woff?t=1669206321537') format('woff'),
        url('./font_3789054_k50wb734yie/iconfont.ttf?t=1669206321537') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.headPhoto {
    width: 149px;
    height: 149px;
    font-size: 50px;
    background-image: url(./img/circle.png);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 62px auto 36px;
}

.text {
    width: 70px;
    height: 15px;
    font-size: 20px;
    color: #91cad2;
}

.icon_plus {
    width: 52px;
    height: 52px;
    font-size: 52px;
}

.Register {
    width: 445px;
    height: 347px;
    margin: 0 auto;
}

label {
    display: block;
    width: 445px;
    height: 30px;
    font-size: 26px;
    color: white;
}

input {
    display: block;
    width: 445px;
    height: 30px;
    background-color: transparent;
    outline: none;
    border: 0;
    border-bottom: 3px solid #fff;
    color: white;
    font-size: 25px;
}

.Password {
    position: relative;
}

#password {
    display: block;
    width: 445px;
    height: 30px;
    background-color: transparent;
    outline: none;
    border: 0;
    color: white;
    font-size: 25px;
}

.show {
    position: absolute;
    font-size: 20px;
    top: 0px;
    left: 395px;
}

.Login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 445px;
    height: 148px;
    margin: 12px auto 6px;
}

button {
    width: 445px;
    height: 74px;
    background-color: white;
    color: #706d9f;
    margin: 0 auto;
    border-radius: 40px;
    cursor: pointer;
    font-size: 25px;
    border: 0;
}

button:hover {
    background-color: #6e7eb0;
}

button:active {
    background-color: #4fa9b6;
}

.otherchoice {
    width: 249px;
    height: 22px;
    margin: 0 auto;
    font-size: 18px;
    color: white;
}

a {
    color: aqua;
    text-decoration: none;
}